<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="AdventureWorksAdminMsmqBindingConfig">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/AdventureWorksAdmin"
                binding="netMsmqBinding" bindingConfiguration="AdventureWorksAdminMsmqBindingConfig"
                contract="AdventureWorksAdminTestClient.AdventureWorksAdmin.AdministrativeService"
                name="MsmqBinding_AdventureWorksAdmin" />
        </client>
    </system.serviceModel>
</configuration>
