<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="AdventureWorksAdminMsmqBindingConfig">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="AdventureWorksAdmin">
                <endpoint address="net.msmq://localhost/private/AdventureWorksAdmin"
                    binding="netMsmqBinding" bindingConfiguration="AdventureWorksAdminMsmqBindingConfig"
                    name="AdventureWorksAdminMsmqEndpoint" contract="IAdventureWorksAdmin" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
